<div class="list-group">
  <a href="#" class="list-group-item active">User 0
  </a>
  <a href="#" class="list-group-item">User 1</a>
  <a href="#" class="list-group-item">User 2</a>
  <a href="#" class="list-group-item">User 3</a>
  <a href="#" class="list-group-item">User 4</a>
  <a href="#" class="list-group-item">User 5</a>
  <a href="#" class="list-group-item">User 6</a>
  <a href="#" class="list-group-item">User 7</a>
  <a href="#" class="list-group-item">User 8</a>
  <a href="#" class="list-group-item">User 9</a>
  <a href="#" class="list-group-item">User 10</a>
</div>
